#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(45deg,
      #2E4756 0%,
      /* primary 500 */
      #9CBFC9 60%,
      /* primary 400 */
      #D6CE6F 80%,
      /* secondary 500 (menos espacio) */
      #F7F2C2 95%
      /* secondary 200 (muy sutil al final) */
    );
  color: #111E26;
  /* texto en primary 800 para buen contraste */
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

